TinyLibraryCQRS.Presentations.Mvc3.Common/Service References/CommandServices/CommandService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TinyLibraryCQRS.Infrastructure" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TinyLibraryCQRS.Infrastructure" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="WCFServiceFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WCFServiceFault" nillable="true" type="tns:WCFServiceFault" />
</xs:schema>