TinyLibraryCQRS.Presentations.Mvc3.Common/Service References/CommandServices/CommandService31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TinyLibraryCQRS.Services.CommandServices.CommandDataObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TinyLibraryCQRS.Services.CommandServices.CommandDataObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AddressDataObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Street" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Zip" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddressDataObject" nillable="true" type="tns:AddressDataObject" />
</xs:schema>