TinyLibraryCQRS.Presentations.Mvc3.Common/Service References/QueryServices/QueryService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1093/QueryService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TinyLibraryCQRS.Services.QueryServices.QueryDataObjects" />
  <xs:import schemaLocation="http://localhost:1093/QueryService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="GetUserByUserName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByUserNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TinyLibraryCQRS.Services.QueryServices.QueryDataObjects" minOccurs="0" name="GetUserByUserNameResult" nillable="true" type="q1:UserAccountDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TinyLibraryCQRS.Services.QueryServices.QueryDataObjects" minOccurs="0" name="GetUserByEmailResult" nillable="true" type="q2:UserAccountDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidateUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TinyLibraryCQRS.Services.QueryServices.QueryDataObjects" minOccurs="0" name="GetAccountTypeResult" nillable="true" type="q3:AccountType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBooks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBooksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TinyLibraryCQRS.Services.QueryServices.QueryDataObjects" minOccurs="0" name="GetBooksResult" nillable="true" type="q4:ArrayOfBookDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBookByGuid">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="guid" type="q5:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBookByGuidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TinyLibraryCQRS.Services.QueryServices.QueryDataObjects" minOccurs="0" name="GetBookByGuidResult" nillable="true" type="q6:BookDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByGuid">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="guid" type="q7:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByGuidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/TinyLibraryCQRS.Services.QueryServices.QueryDataObjects" minOccurs="0" name="GetUserByGuidResult" nillable="true" type="q8:UserAccountDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>